@model Source
@{
    ViewBag.Title = "DataSourceView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Ckan").change(function () {
            $("#Package").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPackages")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Ckan").val() },
                success: function (states) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(states, function (i, state) {
                        $("#Package").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    }); // here we are adding option for States
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Package").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("VerifyDataStore")',
                dataType: 'json',
                data: { id: $("#DataStore").val() },
                success: function (value) {
                    $("#DataStore").append(value)
                },
                error: function (ex) {
                    alert('Failed to retrieve state.' + ex);
                }
            });
            return false;
        })
    });
</script>
@using (Html.BeginForm())
{
    <div class="editor-label">
        <br />
        <div style="color: Purple;">
            @Html.Label("Select Ckan")
        </div>
        <div class="editor-field">
            @if (ViewData.ContainsKey("Ckan"))
            {
                @Html.DropDownList("Ckan", ViewData["ckan"] as List<SelectListItem>, new { style = "width:250px", @class = "dropdown1" })
            }
        </div>
        <br />
        <div style="color: Purple;">
            @Html.Label("Select Package", new { style = "width:250px" })
        </div>
        <div class="editor-field">
            @Html.DropDownList("Package", new SelectList(string.Empty, "Value", "Text"), "Please select a Package", new { style = "width:250px", @class = "dropdown1" })
        </div>
        <br/> 
        <div style="color: Purple;">
            @Html.Label("Is DataStore : ", new { style = "width:250px" })
        </div>
        <div class="editor-field">
            @Html.DisplayText("DataStore")           
        </div>
        <br />

         @Html.ActionLink("To Chart", "ChartRedirect", "DataSource", null, null)
        
    </div>

}

