@model Source
@{
    ViewBag.Title = "DataSourceView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="selector">
    <div class="control">
        <h4>Select x Ayxs </h4>
        @Html.Partial("_xAxisView")
    </div>
    <div class="control">
        <h4>Serie 1</h4>
        @Html.Partial("_serie1View")
    </div>
    <div class="control">
        <h4>Serie 2</h4>
        @Html.Partial("_serie2View")
    </div>
</div>

<div class="editor-field">
    @Html.DisplayText("DataStore")
</div>
<div>
    @Html.ActionLink("To Chart", "ChartRedirect", "DataSource", null, null)
</div>



