<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Ckan2").change(function () {
            $("#Package2").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPackages")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Ckan2").val() },
                success: function (states) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(states, function (i, state) {
                        $("#Package2").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    }); // here we are adding option for States
                },
                error: function (ex) {
                    alert('Failed to retrieve packages.' + ex);
                }
            });
            return false;
        })
    });
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Package2").change(function () {
            $("#DataSet2").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDataSets")', // we are calling json method
                dataType: 'json',
                data: {  src: $("#Ckan2").val(), pck: $("#Package2").val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#DataSet2").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    }); // here we are adding option for States
                },
                error: function (ex) {
                    alert('Failed to retrieve datasets.' + ex);
                }
            });
            return false;
        })

        //Dropdownlist Selectedchange event
        $("#DataSet2").change(function () {
            $("#Field2").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFields")', // we are calling json method
                dataType: 'json',
                data: { src: $("#Ckan2").val(), pck: $("#Package2").val(), dts: $("#DataSet2").val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#Field2").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    }); // here we are adding option for States
                },
                error: function (ex) {
                    alert('Failed to retrieve fields.' + ex);
                }
            });
            return false;
        })

        //Dropdownlist Selectedchange event
        $("#Package2").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("VerifyDataStore")',
                dataType: 'json',
                data: { id: $("#DataStore2").val() },
                success: function (value) {
                    $("#DataStore").append(value)
                },
                error: function (ex) {
                    alert('Failed to retrieve state.' + ex);
                }
            });
            return false;
        })

        $("#Field2").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SelectField")',
                dataType: 'json',
                data: { src: $("#Ckan2").val(), pck: $("#Package2").val(), dts: $("#DataSet2").val(), fld: $("#Field2").val() },
                success: function (value) {
                    //alert('done');
                },
                error: function (ex) {
                    alert('The visualization of non-numeric fileds might be not possible.');
                }
            });
            return false;
        })
    });
</script>
@using (Html.BeginForm())
{
    <div class="editor-label">
        <br />
        <div style="color: Purple;">
            @Html.Label("Select Ckan")
        </div>
        <div class="editor-field">
            @if (ViewData.ContainsKey("Ckan"))
            {
                @Html.DropDownList("Ckan2", ViewData["ckan"] as List<SelectListItem>, "Please select source", new { style = "width:250px", @class = "dropdown1" })
            }
        </div>
        <br />
        <div style="color: Purple;">
            @Html.Label("Select Package", new { style = "width:250px" })
        </div>
        <div class="editor-field">
            @Html.DropDownList("Package2", new SelectList(string.Empty, "Value", "Text"), "Please select a Package", new { style = "width:250px", @class = "dropdown1" })
        </div>
        <br />
        <div style="color: Purple;">
            @Html.Label("Select Data Set", new { style = "width:250px" })
        </div>
        <div class="editor-field">
            @Html.DropDownList("DataSet2", new SelectList(string.Empty, "Value", "Text"), "Please select a Data Set", new { style = "width:250px", @class = "dropdown1" })
        </div>
        <br />
        <div style="color: Purple;">
            @Html.Label("Select Field", new { style = "width:250px" })
        </div>
        <div class="editor-field">
            @Html.DropDownList("Field2", new SelectList(string.Empty, "Value", "Text"), "Please select a Field", new { style = "width:250px", @class = "dropdown1" })
        </div>
        <br />
        <br />
    </div>

}
