@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Yaxis").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDataForChart")', // we are calling json method
                dataType: 'json',
                data: { idX: $("#Xaxis").val(), idY: $("#Yaxis").val() },
                success: function (data) {
                    //Set Chart
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
 </Script>

@using (Html.BeginForm())
{
   <div class="editor-label">
        <br />
        <div style="color: Purple;">
            @Html.Label("Select X-Axis")
        </div>
        <div class="editor-field">
            @if (ViewData.ContainsKey("fields"))
            {
                @Html.DropDownList("Xaxis", ViewData["fields"] as List<SelectListItem>, new { style = "width:250px", @class = "dropdown1" })
            }
        </div>
        <br />
        <div class="editor-label">
            <br />
            <div style="color: Purple;">
                @Html.Label("Select Y-Axis")
            </div>
            <div class="editor-field">
                @if (ViewData.ContainsKey("fields"))
                {
                    @Html.DropDownList("Yaxis", ViewData["fields"] as List<SelectListItem>, new { style = "width:250px", @class = "dropdown1" })
                }
            </div>

            <div class="editor-field">

                @Html.ActionLink("To Chart", "ChartRedirect", "Chart", null, null)

            </div>
            <br />
        </div>
       </div>
}